body {
  background-color: grey;
}

.card {
  width: 400px;
  margin: 16px auto;
  background-color: white;
  padding: 3px;
}

.title {
  margin: 8px;
  background-color: lightblue;
}

.content{
  background-color: lightblue;
  margin:8px; 
  padding: 2px;
}

.button-container {
  background-color: lightblue;
  margin: 8px;
  padding: 2px;
  text-align: center;
}

button{
  display: block;
  margin: auto;
}